.social {
  &__list {
    @extend %centered-list;
    gap: 10px;
  }

  &__link {
    @extend %centered-icon-link;
    @include size(44px);
    color: $color-icon;

    @include hover-focus {
      background-color: $color-accent;
      color: $color-white;
    }
  }

  &__icon {
    @include size(20px);
    fill: currentColor;
  }
}
